---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: grafana
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
   tag: 10.5.2
  url: oci://ghcr.io/grafana/helm-charts/grafana
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: grafana
  values:
    deploymentStrategy:
      type: Recreate

    admin:
      existingSecret: grafana-admin
      secretKey: admin-password

    grafana.ini:
      analytics:
        check_for_updates: false
        check_for_plugin_updates: false
        reporting_enabled: false
      auth.anonymous:
        enabled: true
        org_id: 1
        org_name: Main Org.
        role: Viewer

      news:
        news_feed_enabled: false

    sidecar:
      datasources:
        enabled: true
        label: grafana_datasource
        labelValue: "1"

    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: default
            orgId: 1
            folder: ""
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/default

    dashboards:
      default:
        cert-manager:
          # renovate: depName="Cert-manager-Kubernetes
          gnetId: 20842
          revision: 3
          datasource: VictoriaMetrics
        cert-manager2:
          # renovate: depName="cert-manager2"
          gnetId: 22184
          revision: 3
          datasource:
            - { name: DS_PROMETHEUS, value: VictoriaMetrics }
        coredns:
          # renovate: depName="CoreDNS"
          gnetId: 14981
          revision: 2
          datasource: VictoriaMetrics
        envoy:
          # renovate: depName="Envoy Proxy Monitoring gRPC"
          gnetId: 23239
          revision: 1
          datasource:
            - { name: DS_AFRANET_PROMETHEUS, value: VictoriaMetrics }
        kubernetes-api-server:
          # renovate: depName="Kubernetes / System / API Server"
          gnetId: 15761
          revision: 20
          datasource: VictoriaMetrics
        kubernetes-coredns:
          # renovate: depName="Kubernetes / System / CoreDNS"
          gnetId: 15762
          revision: 22
          datasource: VictoriaMetrics
        kubernetes-global:
          # renovate: depName="Kubernetes / Views / Global"
          gnetId: 15757
          revision: 43
          datasource: VictoriaMetrics
        kubernetes-namespaces:
          # renovate: depName="Kubernetes / Views / Namespaces"
          gnetId: 15758
          revision: 44
          datasource: VictoriaMetrics
        kubernetes-nodes:
          # renovate: depName="Kubernetes / Views / Nodes"
          gnetId: 15759
          revision: 40
          datasource: VictoriaMetrics
        kubernetes-pods:
          # renovate: depName="Kubernetes / Views / Pods"
          gnetId: 15760
          revision: 37
          datasource: VictoriaMetrics
        kubernetes-volumes:
          # renovate: depName="K8s / Storage / Volumes / Cluster"
          gnetId: 11454
          revision: 14
          datasource: VictoriaMetrics
        node-exporter-full:
          # renovate: depName="Node Exporter Full"
          gnetId: 1860
          revision: 42
          datasource:
            - { name: DS_PROMETHEUS, value: VictoriaMetrics }
        k8s-dashboard:
          # renovate: depName="K8S Dashboard"
          gnetId: 15661
          revision: 2
          datasource:
            - { name: DS__VICTORIAMETRICS-PROD-ALL, value: VictoriaMetrics }
        loki-kubernetes-logs:
          # renovate: depName="Loki Kubernetes Logs"
          gnetId: 15141
          revision: 1
          datasource: Loki

    persistence:
      enabled: true
      storageClassName: longhorn
      size: 5Gi
