ROOT_DIR="/opt/services"
POLL_REPO="kondanta/homelab"
POLL_INTERVAL_SECS="300"
POLL_BRANCH="main"
API_TOKEN=<API Token>
SERVICE_FILTER="services,shepherd,tracks"
RENOVATE_USERNAME=<myRenovate[bot]>
RENOVATE_EMAIL=<11111+myRenovate[bot]@users.noreply.github.com
REPO_PATH_PREFIX=<remote/repo>
