TZ=Europe/Oslo
APP_URL=<APP_URL_WITH/api/oauth/spotify/callback>
SPOTIFY_PUBLIC=<SpotifyClientSecret>
SPOTIFY_SECRET=<SpotifyAPPSecret>
CORS=all
MONGO_ENDPOINT=mongodb://yourspotify-db:27017/your_spotify
PUID=99
PGID=100
UMASK=022
