POSTGRES_HOST=192.168.x.x
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
# Space-separated list of databases to back up
POSTGRES_DBS=authentik rreading-glasses

# Cron schedule (Europe/Oslo timezone)
BACKUP_SCHEDULE=0 3 * * *
# Number of most recent backups to keep per database
BACKUP_KEEP_DAYS=7

# Garage S3
S3_ENDPOINT=http://192.168.x.x:3900
S3_BUCKET=postgres-backups
AWS_ACCESS_KEY_ID=changeme
AWS_SECRET_ACCESS_KEY=changeme
AWS_DEFAULT_REGION=us-east-1

TZ=Europe/Oslo
