SPOTIFY_ID=KoitoFeeder
SPOTIFY_ENABLE=true
SPOTIFY_CLIENT_ID=asd12345
SPOTIFY_CLIENT_SECRET=asd123456
SPOTIFY_REDIRECT_URI=https://scrobbler.my-domain.com/callback

# KOITO setup
KOITO_ID=SpotifyHistory
KOITO_USER=kondanta
KOITO_URL="http://koito-url:4110"
KOITO_TOKEN="MYTOKEN"
KOITO_ENABLE=true
