---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: selfhosted
components:
  - ../../components/namespace
  - ../../components/sops
resources:
  - authentik/ks.yaml
  - freshrss/ks.yaml
  - excalidraw/ks.yaml
  - homebox/ks.yaml
