---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Flux Local"

on:
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  pre-job:
    name: Flux Local Pre-Job
    runs-on: ubuntu-latest
    outputs:
      any_changed: ${{ steps.changed-files.outputs.any_changed }}
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Get Changed Files
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          files: infrastructure/**

  test:
    name: Flux Local Test
    needs: pre-job
    runs-on: ubuntu-latest
    if: ${{ needs.pre-job.outputs.any_changed == 'true' }}
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Run flux-local test
        uses: docker://ghcr.io/allenporter/flux-local:v8.0.1
        with:
          args: test --enable-helm --all-namespaces --path /github/workspace/clusters/homelab -v

  diff:
    name: Flux Local Diff
    needs: pre-job
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    strategy:
      matrix:
        resource: ["helmrelease", "kustomization"]
      max-parallel: 4
      fail-fast: false
    if: ${{ needs.pre-job.outputs.any_changed == 'true' }}
    steps:
      - name: Checkout Pull Request Branch
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          path: pull

      - name: Checkout Default Branch
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: "${{ github.event.repository.default_branch }}"
          path: default

      - name: Run flux-local diff
        uses: docker://ghcr.io/allenporter/flux-local:v8.0.1
        with:
          args: >-
            diff ${{ matrix.resource }}
            --unified 6
            --path /github/workspace/pull/clusters/homelab
            --path-orig /github/workspace/default/clusters/homelab
            --strip-attrs "helm.sh/chart,checksum/config,app.kubernetes.io/version,chart"
            --limit-bytes 10000
            --all-namespaces
            --sources "flux-system"
            --output-file diff.patch
      
      - name: Generate Diff
        id: diff
        run: |
          cat diff.patch;
          {
              echo 'diff<<EOF'
              cat diff.patch
              echo EOF
          } >> "$GITHUB_OUTPUT";
          {
              echo "### Diff"
              echo '```diff'
              cat diff.patch
              echo '```'
          } >> "$GITHUB_STEP_SUMMARY"
          
      - name: Generate Token
        if: ${{ steps.diff.outputs.diff != '' }}
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_APP_PRIVATE_KEY }}
        
      - name: Add Comment
        if: ${{ steps.diff.outputs.diff != '' }}
        continue-on-error: true
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2.9.4
        with:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }} # Hopefully this will make messsage to be authored by the bot.
          header: "${{ github.event.pull_request.number }}/kubernetes/${{ matrix.resources }}"
          message: |
            ```diff
            ${{ steps.diff.outputs.diff }}
            ```

  flux-local-status:
    name: Flux Local Success
    needs: ["test", "diff"]
    runs-on: ubuntu-latest
    if: ${{ always() }}
    steps:
      - name: Any jobs failed?
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1

      - name: All jobs passed or skipped?
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: echo "All jobs passed or skipped" && echo "${{ toJSON(needs.*.result) }}"
